/*styles.css*/
body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;

  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

}
h1 {
  text-align: center;
  font-size: 2.5rem;
}
p {
  text-align: center;
}


